

  <div>

    <mat-form-field>
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha Fin </mat-label>
      <input matInput [matDatepicker]="date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <mat-label>Precio</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <mat-label>Cliente</mat-label>
      <input type="text" matInput>
    </mat-form-field>

  </div>

